
@{
    ViewBag.Title = "TumSensorler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Aktif Sensörler</h4>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle mr-1" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Filtre
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Aktif olmayan sensörleri göster</a>
                        </div>

                    </div>
                </div>
                <div class="card-content">
                    @*<div class="card-body">

                    </div>*@
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Sensör adı</th>
                                    <th>Sensör yeri</th>
                                    <th>Son olay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S1803010051</td>
                                    <td>Sensorstandort02</td>
                                    <td>bir gün önce</td>
                                </tr>
                                <tr>
                                    <td>S1804020104</td>
                                    <td>Standort01</td>
                                    <td>bir gün önce</td>
                                </tr>
                                <tr>
                                    <td>S1803010008</td>
                                    <td>Standort01</td>
                                    <td>7 ay önce</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
