
@{
    ViewBag.Title = "TumVP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tüm Vardiya Planları</h4>
                </div>
                <div class="card-content"> 
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Vardiya planının adı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3 Vardiya</td>
                                </tr>
                                <tr>
                                    <td>Normal Mesai</td>
                                </tr>
                                <tr>
                                    <td>Schichtplan 21 UnoPro</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

