
@{
    ViewBag.Title = "VPGoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="table-bordered">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">3 Vardiya</h4> 
                    <a class="btn btn-outline-primary" href='javascript:openwindow();'>Vardiya veya mola ilave et</a>
                    <script>
    function openwindow()
    {
        var x=window.open('@Url.Action("VardiyaMolaIlave","VardiyaPlanlari")',target = '_blank', width = '400px', height = '400px');
    }
                    </script>
                </div>
                <div class="card-content">
                    <!-- table bordered -->
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>Pazartesi</th>
                                    <th>Salı</th>
                                    <th>Çarşamba</th>
                                    <th>Perşembe</th>
                                    <th>Cuma</th>
                                    <th>Cumartesi</th>
                                    <th>Pazar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Gece vardiyası <br /> 00:00 – 08:00 (480 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Gece vardiyası <br /> 00:00 – 08:00 (480 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Gece vardiyası <br /> 00:00 – 08:00 (480 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Gece vardiyası <br /> 00:00 – 08:00 (480 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Gece vardiyası <br /> 00:00 – 08:00 (480 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Gece vardiyası <br /> 00:00 – 08:00 (480 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Gece vardiyası <br /> 00:00 – 08:00 (480 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>

</tr>
                                <tr>
                                    <td>
                                        Sabah vardiyası <br /> 08:00 – 16:00 (465 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Sabah vardiyası <br /> 08:00 – 16:00 (465 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Sabah vardiyası <br /> 08:00 – 16:00 (465 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Sabah vardiyası <br /> 08:00 – 16:00 (465 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Sabah vardiyası <br /> 08:00 – 16:00 (465 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Sabah vardiyası <br /> 08:00 – 16:00 (465 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Sabah vardiyası <br /> 08:00 – 16:00 (465 min.) <br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
   
                                </tr>
                                <tr>
                                    <td>
                                        Akşam vardiyası <br /> 16:00 – 00:00 (480 min.)<br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    <td>
                                        Akşam vardiyası <br /> 16:00 – 00:00 (480 min.)<br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Akşam vardiyası <br /> 16:00 – 00:00 (480 min.)<br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Akşam vardiyası <br /> 16:00 – 00:00 (480 min.)<br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Akşam vardiyası <br /> 16:00 – 00:00 (480 min.)<br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Akşam vardiyası <br /> 16:00 – 00:00 (480 min.)<br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Akşam vardiyası <br /> 16:00 – 00:00 (480 min.)<br />
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="trash"></i>
                                        </a>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                        <div class="card-body">
                            <p style="text-align:center">Vardiyalar bittikleri gün gösterilir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

