
@{
    ViewBag.Title = "YerdekiSensorler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Aktif Konum Sensörleri</h4>
                </div>
                <div class="card-content">
                    @*<div class="card-body">

                    </div>*@
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Sensör adı</th>
                                    <th>Sensör yeri</th>
                                    <th>Son olay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S1803010051</td>
                                    <td>Sensorstandort02</td>
                                    <td>bir gün önce</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

