@{
    ViewBag.Title = "Home Page";
}

    <html>
    <head>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="~/myScript.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        
       

    </head>
    <body>
        <div class="container">
            <div class="row">
                <h3 style="text-align:center">Fabrika Aylık OEE Oranları</h3>
                <div class="col-md-3">
                    <div id="chart1">

                    </div>
                </div>

                <div class="col-md-3">
                    <div id="chart2">
                    </div>
                </div>

                <div class="col-md-3">
                    <div id="chart3">
                    </div>
                </div>

                <div class="col-md-3">
                    <div id="chart4">
                    </div>
                </div>
            </div>
        </div>


        <div class=container>
            <div class="row">
                <h3 style="text-align:center">Aylık Üretim Miktarları</h3>
                <div class="col-md-12">
                    <div id="chartSales" style="max-width: 650px; margin: 35px auto;">
                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Aylık Bazda En Çok Yaşanan Duruşlar</h3>
                    <table class='table table-borderless'>
                        <tr>
                            <td class='col-3'>Kalıp/Aparat/Takım Arızası</td>
                            <td class='col-6'>
                                <div class="progress progress-info">
                                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>35%</td>
                        </tr>
                        <tr>
                            <td class='col-3'>Makine Arızası</td>
                            <td class='col-6'>
                                <div class="progress progress-danger">
                                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>35%</td>
                        </tr>
                        <tr>
                            <td class='col-3'>Elektrik Kesintisi</td>
                            <td class='col-6'>
                                <div class="progress progress-success">
                                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>20%</td>
                        </tr>

                        <tr>
                            <td class='col-3'>Hava Kesintisi</td>
                            <td class='col-6'>
                                <div class="progress progress-primary">
                                    <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>5%</td>
                        </tr>
                        <tr>
                            <td class='col-3'>Numune Üretimi</td>
                            <td class='col-6'>
                                <div class="progress progress-secondary">
                                    <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>5%</td>
                        </tr>
                    </table>
                </div>


                <div class="col-md-6">
                    <h3>Aylık Bazda En Çok Yaşanan Kalite Hataları</h3>
                    <table class='table table-borderless'>
                        <tr>
                            <td class='col-3'>Yüzey pürüzlü/çizik/çapaklı</td>
                            <td class='col-6'>
                                <div class="progress progress-info">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>60%</td>
                        </tr>
                        <tr>
                            <td class='col-3'>Parçanın dişleri bozuk</td>
                            <td class='col-6'>
                                <div class="progress progress-success">
                                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>20%</td>
                        </tr>
                        <tr>
                            <td class='col-3'>Teknik resim hatası</td>
                            <td class='col-6'>
                                <div class="progress progress-danger">
                                    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>10%</td>
                        </tr>
                        <tr>
                            <td class='col-3'>Boyun tolerans dışı olması</td>
                            <td class='col-6'>
                                <div class="progress progress-primary">
                                    <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>5%</td>
                        </tr>
                        <tr>
                            <td class='col-3'>Eksen kaçıklığı</td>
                            <td class='col-6'>
                                <div class="progress progress-secondary">
                                    <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class='col-3 text-center'>5%</td>
                        </tr>
                    </table>
                </div>

            </div>
</div>





        <script>


            var options = {
                chart: {
                    height: 280,
                    type: "radialBar"
                },

                series: [63],

                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 15,
                            size: "70%"
                        },

                        dataLabels: {
                            showOn: "always",
                            name: {
                                offsetY: -10,
                                show: true,
                                color: "#888",
                                fontSize: "13px"
                            },
                            value: {
                                color: "#111",
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },

                stroke: {
                    lineCap: "round",
                },
                labels: ["OEE"]
            };

            var chart1 = new ApexCharts(document.querySelector("#chart1"), options);

            chart1.render();


            var options = {
                chart: {
                    height: 280,
                    type: "radialBar"
                },

                series: [88],

                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 15,
                            size: "70%"
                        },

                        dataLabels: {
                            showOn: "always",
                            name: {
                                offsetY: -10,
                                show: true,
                                color: "#888",
                                fontSize: "13px"
                            },
                            value: {
                                color: "#111",
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },

                stroke: {
                    lineCap: "round",
                },
                labels: ["Kullanılabilirlik"]
            };

            var chart2 = new ApexCharts(document.querySelector("#chart2"), options);

            chart2.render();



            var options = {
                chart: {
                    height: 280,
                    type: "radialBar"
                },

                series: [83],

                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 15,
                            size: "70%"
                        },

                        dataLabels: {
                            showOn: "always",
                            name: {
                                offsetY: -10,
                                show: true,
                                color: "#888",
                                fontSize: "13px"
                            },
                            value: {
                                color: "#111",
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },

                stroke: {
                    lineCap: "round",
                },
                labels: ["Performans"]
            };

            var chart3 = new ApexCharts(document.querySelector("#chart3"), options);

            chart3.render();



            var options = {
                chart: {
                    height: 280,
                    type: "radialBar"
                },

                series: [86],

                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 15,
                            size: "70%"
                        },

                        dataLabels: {
                            showOn: "always",
                            name: {
                                offsetY: -10,
                                show: true,
                                color: "#888",
                                fontSize: "13px"
                            },
                            value: {
                                color: "#111",
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },

                stroke: {
                    lineCap: "round",
                },
                labels: ["Kalite"]
            };

            var chart4 = new ApexCharts(document.querySelector("#chart4"), options);

            chart4.render();


            var options = {
                chart: {
                    height: 280,
                    type: "area"
                },
                dataLabels: {
                    enabled: false
                },
                series: [
                    {
                        name: "Miktar",
                        data: [45, 52, 38, 45, 19, 23, 2]
                    }
                ],
                fill: {
                    type: "gradient",
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.9,
                        stops: [0, 90, 100]
                    }
                },
                xaxis: {
                    categories: [
                        "Ocak",
                        "Şubat",
                        "Mart",
                        "Nisan",
                        "Mayıs",
                        "Haziran",
                        "Temmuz"
                    ]
                }
            };

            var chartSale = new ApexCharts(document.querySelector("#chartSales"), options);

            chartSale.render();












                                //var options = {
                                //    chart: {
                                //        height: 250,
                                //        type: 'radialBar',
                                //    },
                                //    series: [63],
                                //    labels: ['OEE'],
                                //};

                                //var chart = new ApexCharts(document.querySelector("#chart"), options);

                                //chart.render();

                                //var options = {
                                //    chart: {
                                //        height: 250,
                                //        type: 'radialBar',
                                //    },
                                //    series: [85],
                                //    labels: ['Kullanılabilirlik'],
                                //};

                                //var chart2 = new ApexCharts(document.querySelector("#chart2"), options);

                                //chart2.render();


                                //var options = {
                                //    chart: {
                                //        height: 250,
                                //        type: 'radialBar',
                                //    },
                                //    series: [83],
                                //    labels: ['Performans'],
                                //};

                                //var chart3 = new ApexCharts(document.querySelector("#chart3"), options);

                                //chart3.render();


                                //var options = {
                                //    chart: {
                                //        height: 250,
                                //        type: 'radialBar',
                                //    },
                                //    series: [88],
                                //    labels: ['Kalite'],
                                //};

                                //var chart4 = new ApexCharts(document.querySelector("#chart4"), options);

                                //    chart4.render();

















        </script>


    </body>
    </html>








                @*<div class="jumbotron">
                    <h1>ASP.NET</h1>
                    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h2>Getting started</h2>
                        <p>
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Get more libraries</h2>
                        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Web Hosting</h2>
                        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                    </div>
                </div>*@
