
@{
    ViewBag.Title = "AlarmOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Yeni Alarm Oluştur</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label>Tanım</label>
                                        </div>

                                        <div class="col-md-8 form-group">
                                            <input type="text" id="alarm-def" class="form-control" name="adef" placeholder="Lütfen bu alarmı tanımlayın">
                                        </div>

                                        <div class="col-md-4">
                                            <label>Sensör Yeri</label>
                                        </div>

                                        <div class="col-md-8 form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>Sensorstandort02</option>
                                                <option>Standort01</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Tetikleyici</label>
                                        </div>

                                        <div class="col-md-8 form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                                                <label style="text-transform:initial" class="form-check-label" for="flexRadioDefault">
                                                    Bundan daha büyük bir duruşta
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                                                <label style="text-transform:initial" class="form-check-label" for="flexRadioDefault">
                                                    Üretim bundan düşük olduğunda
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                                                <label style="text-transform:initial" class="form-check-label" for="flexRadioDefault">Sensör bir bağlantıda belirli bir zaman aralığı için bu değerlerden daha fazla veri gönderdiğinde</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                                                <label style="text-transform:initial" class="form-check-label" for="flexRadioDefault">Sensör belirli bir zaman aralığı için veri göndermediğinde</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label></label>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <input class="form-control" id="basicInput" placeholder="Eşik" max="100" min="1" type="number">
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>%</option>
                                                <option>parça/dakika</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label></label>
                                        </div>

                                        <div class="col-md-8 form-group">
                                            <p><strong>Bu zaman aralığı için bu değerden daha fazla</strong></p>
                                        </div>


                                        <div class="col-md-4">
                                            <label>Eşik</label>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <input class="form-control" id="basicInput" placeholder="Süre" min="1" step="1" type="number">
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>Dakika</option>
                                                <option>Saat</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Aksiyon</label>
                                        </div>

                                        <div class="col-md-8">
                                            <label><strong>Buna mail gönder</strong></label>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Alıcı</label>
                                        </div>

                                        <div class="col-md-8 form-group">
                                            <input type="text" id="email" class="form-control" name="e-mail" placeholder="E-mail adresleri">
                                            <p><small class="text-muted">Birden çok e-mail adresini noktalı virgül ile ayır, örneğin mehmet@ornek.org</small></p>
                                        </div>


                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-outline-primary mr-1 mb-1">Oluştur</button> 
                                            <button type="reset" class="btn btn-outline-danger mr-1 mb-1">İptal</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

