
@{
    ViewBag.Title = "TumAlarmlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tüm Alarmlar</h4>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle mr-1" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Filtre
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Pasif alarmları göster</a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Sensör yeri</th>
                                    <th>Tanım</th>
                                    <th>Tetikleyici</th>
                                    <th>Eşik</th>
                                    <th>Sil</th>
                                    <th>İptal et</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Standort01</td>
                                    <td>Arıza</td>
                                    <td></td>
                                    <td>5 dakika</td>
                                    <td>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="x-square"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="slash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Standort01</td>
                                    <td>Düşük Üretim</td>
                                    <td></td>
                                    <td>5 dakika</td>
                                    <td>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="x-square"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="slash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

