
@{
    ViewBag.Title = "AndonTahtasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid large-display">
        <h2 class="mt-1 mb-1 title clearfix">
            Standort 01
            <small class="text-muted float-xs-right">
                Normal Mesai – 2019-04-03
            </small>
        </h2>

        <div class="row cards numbers-row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-1 card-cell" style="text-align:center;">
                <div class="ember-view card card-accent-primary" style="border: 3px solid #e9e8e8;">
                    <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                        
                        <strong>OEE</strong>

                    </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                        0,0 %

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-1 card-cell" style="text-align:center;">
                <div class="ember-view card card-accent-primary" style="border: 3px solid #e9e8e8;">
                    <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                        <strong>
                            <!---->              Adet
                        </strong>

                    </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                        0

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-1 card-cell" style="text-align:center;">
                <div class="ember-view card card-accent-primary" style="border: 3px solid #e9e8e8;">
                    <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                        <strong>Şimdiki zaman</strong>

                    </div><div id="ember840" class="clearfix text-xs-center display-5 ember-view card-block">
                        15:52

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-1 card-cell" style="text-align:center;">
                <div class="ember-view card card-accent-primary" style="border: 3px solid #e9e8e8;">
                    <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                        <strong>Kullanılabilirlik</strong>

                    </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                        0,0 %

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-1 card-cell" style="text-align:center;">
                <div class="ember-view card card-accent-primary" style="border: 3px solid #e9e8e8;">
                    <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                        <strong>Performans</strong>

                    </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                        0,0 %

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-1 card-cell" style="text-align:center;">
                <div class="ember-view card card-accent-primary" style="border: 3px solid #e9e8e8;">
                    <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                        <strong>Kalite</strong>

                    </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                        0,0 %

                    </div>
                </div>
            </div>
        </div>
        <div class="row cards chart-row">
            <div class="col-xs-12 card-cell" style="text-align:center;">
                <div class="andon-card ember-view card card-accent-primary" style="border: 3px solid #e9e8e8;">
                    <div class="ember-view card-header mb-2" style="border-top: 2px solid red; background-color:#f1f1f1">
                        <strong>Kapasite kullanım oranı</strong>

                    </div>          <div class="andon-chart ember-view highcharts-wrapper">
                        <div class="chart-container" data-highcharts-chart="0"><div id="highcharts-2fm0rrp-0" class="highcharts-container " style="position: relative; overflow: hidden; width: 1204px; height: 122px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: inherit;"><svg version="1.1" class="highcharts-root" style="font-family:inherit;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="1204" height="122" viewBox="0 0 1204 122"><desc>Created with Highstock 5.0.12</desc><defs><clipPath id="highcharts-2fm0rrp-1"><rect x="0" y="0" width="1124" height="65" fill="none"></rect></clipPath><clipPath id="highcharts-2fm0rrp-2"><rect x="-99" y="-47" width="1223" height="122" fill="none"></rect></clipPath><clipPath id="highcharts-2fm0rrp-3"><rect x="0" y="0" width="1124" height="97" fill="none"></rect></clipPath><clipPath id="highcharts-2fm0rrp-4"><rect x="0" y="0" width="1124" height="65" fill="none"></rect></clipPath></defs><rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="1204" height="122" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="70" y="10" width="1124" height="65"></rect><g class="highcharts-pane-group"></g><g class="highcharts-grid highcharts-xaxis-grid "><path fill="none" class="highcharts-grid-line" d="M 80.5 10 L 80.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 190.5 10 L 190.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 301.5 10 L 301.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 411.5 10 L 411.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 522.5 10 L 522.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 632.5 10 L 632.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 742.5 10 L 742.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 853.5 10 L 853.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 963.5 10 L 963.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 1073.5 10 L 1073.5 75" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 1184.5 10 L 1184.5 75" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid "><path fill="none" stroke="#e6e6e6" stroke-width="1" class="highcharts-grid-line" d="M 70 43.5 L 1194 43.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" x="70" y="10" width="1124" height="65"></rect><g class="highcharts-axis highcharts-xaxis "><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 80.5 75 L 80.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 190.5 75 L 190.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 301.5 75 L 301.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 411.5 75 L 411.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 522.5 75 L 522.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 632.5 75 L 632.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 742.5 75 L 742.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 853.5 75 L 853.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 963.5 75 L 963.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 1073.5 75 L 1073.5 85" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 1184.5 75 L 1184.5 85" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" d="M 70 75.5 L 1194 75.5"></path></g><g class="highcharts-axis highcharts-yaxis "><text x="34" text-anchor="middle" transform="translate(0,0) rotate(270 34 42.5)" class="highcharts-axis-title" style="color:#666666;font-size:20px;fill:#666666;" y="42.5">Adet</text><path fill="none" class="highcharts-axis-line" d="M 70 10 L 70 75"></path></g><g class="highcharts-series-group"><g class="highcharts-series highcharts-series-0 highcharts-line-series highcharts-color-undefined " transform="translate(70,10) scale(1 1)" clip-path="url(https://sensor.oee.cloud/andon/3d413228-20d8-4fd7-8fc2-792131bbb17f#highcharts-2fm0rrp-4)"><path fill="none" d="M 11.019607843137 32.5 L 29.416282038692 32.5 L 47.812956234247 32.5 L 66.209630429801 32.5 L 84.606304625356 32.5 L 103.00297882091 32.5 L 121.39965301647 32.5 L 139.79632721202 32.5 L 158.19300140757 32.5 L 176.58967560313 32.5 L 194.98634979868 32.5 L 213.38302399424 32.5 L 231.77969818979 32.5 L 250.17637238535 32.5 L 268.5730465809 32.5 L 286.96972077646 32.5 L 305.36639497201 32.5 L 323.76306916757 32.5 L 342.15974336312 32.5 L 360.55641755868 32.5 L 378.95309175423 32.5 L 397.34976594979 32.5 L 415.74644014534 32.5 L 434.14311434089 32.5 L 452.53978853645 32.5 L 470.936462732 32.5 L 489.33313692756 32.5 L 507.72981112311 32.5 L 526.12648531867 32.5 L 544.52315951422 32.5 L 562.91983370978 32.5 L 581.31650790533 32.5 L 599.71318210089 32.5 L 618.10985629644 32.5 L 636.506530492 32.5 L 654.90320468755 32.5 L 673.29987888311 32.5 L 691.69655307866 32.5 L 710.09322727422 32.5 L 728.48990146977 32.5 L 746.88657566532 32.5 L 765.28324986088 32.5" class="highcharts-graph" stroke="#7798BF" stroke-width="4" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M 1.0196078431370008 32.5 L 11.019607843137 32.5 L 29.416282038692 32.5 L 47.812956234247 32.5 L 66.209630429801 32.5 L 84.606304625356 32.5 L 103.00297882091 32.5 L 121.39965301647 32.5 L 139.79632721202 32.5 L 158.19300140757 32.5 L 176.58967560313 32.5 L 194.98634979868 32.5 L 213.38302399424 32.5 L 231.77969818979 32.5 L 250.17637238535 32.5 L 268.5730465809 32.5 L 286.96972077646 32.5 L 305.36639497201 32.5 L 323.76306916757 32.5 L 342.15974336312 32.5 L 360.55641755868 32.5 L 378.95309175423 32.5 L 397.34976594979 32.5 L 415.74644014534 32.5 L 434.14311434089 32.5 L 452.53978853645 32.5 L 470.936462732 32.5 L 489.33313692756 32.5 L 507.72981112311 32.5 L 526.12648531867 32.5 L 544.52315951422 32.5 L 562.91983370978 32.5 L 581.31650790533 32.5 L 599.71318210089 32.5 L 618.10985629644 32.5 L 636.506530492 32.5 L 654.90320468755 32.5 L 673.29987888311 32.5 L 691.69655307866 32.5 L 710.09322727422 32.5 L 728.48990146977 32.5 L 746.88657566532 32.5 L 765.28324986088 32.5 L 775.28324986088 32.5" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="24" class="highcharts-tracker"></path></g><g class="highcharts-markers highcharts-series-0 highcharts-line-series highcharts-color-undefined highcharts-tracker" transform="translate(70,10) scale(1 1)" clip-path="none"><path fill="#7798BF" d="M 15 33 A 4 4 0 1 1 14.999998000000167 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 33 33 A 4 4 0 1 1 32.99999800000017 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 51 33 A 4 4 0 1 1 50.99999800000017 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 70 33 A 4 4 0 1 1 69.99999800000016 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 88 33 A 4 4 0 1 1 87.99999800000016 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 107 33 A 4 4 0 1 1 106.99999800000016 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 125 33 A 4 4 0 1 1 124.99999800000016 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 143 33 A 4 4 0 1 1 142.99999800000018 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 162 33 A 4 4 0 1 1 161.99999800000018 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 180 33 A 4 4 0 1 1 179.99999800000018 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 198 33 A 4 4 0 1 1 197.99999800000018 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 217 33 A 4 4 0 1 1 216.99999800000018 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 235 33 A 4 4 0 1 1 234.99999800000018 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 254 33 A 4 4 0 1 1 253.99999800000018 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 272 33 A 4 4 0 1 1 271.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 290 33 A 4 4 0 1 1 289.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 309 33 A 4 4 0 1 1 308.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 327 33 A 4 4 0 1 1 326.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 346 33 A 4 4 0 1 1 345.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 364 33 A 4 4 0 1 1 363.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 382 33 A 4 4 0 1 1 381.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 401 33 A 4 4 0 1 1 400.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 419 33 A 4 4 0 1 1 418.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 438 33 A 4 4 0 1 1 437.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 456 33 A 4 4 0 1 1 455.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 474 33 A 4 4 0 1 1 473.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 493 33 A 4 4 0 1 1 492.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 511 33 A 4 4 0 1 1 510.9999980000002 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 530 33 A 4 4 0 1 1 529.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 548 33 A 4 4 0 1 1 547.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 566 33 A 4 4 0 1 1 565.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 585 33 A 4 4 0 1 1 584.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 603 33 A 4 4 0 1 1 602.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 622 33 A 4 4 0 1 1 621.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 640 33 A 4 4 0 1 1 639.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 658 33 A 4 4 0 1 1 657.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 677 33 A 4 4 0 1 1 676.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 695 33 A 4 4 0 1 1 694.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 714 33 A 4 4 0 1 1 713.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 732 33 A 4 4 0 1 1 731.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 750 33 A 4 4 0 1 1 749.9999980000001 32.99600000066666 Z" class="highcharts-point"></path><path fill="#7798BF" d="M 769 33 A 4 4 0 1 1 768.9999980000001 32.99600000066666 Z" class="highcharts-point"></path></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels "><text x="81.01960784313725" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>09:00</tspan></text><text x="191.39965301646535" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>10:00</tspan></text><text x="301.7796981897934" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>11:00</tspan></text><text x="412.15974336312155" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>12:00</tspan></text><text x="522.5397885364496" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>13:00</tspan></text><text x="632.9198337097778" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>14:00</tspan></text><text x="743.2998788831059" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>15:00</tspan></text><text x="853.679924056434" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>16:00</tspan></text><text x="964.059969229762" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>17:00</tspan></text><text x="1074.4400144030901" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>18:00</tspan></text><text x="1170.3515625" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="101" opacity="1"><tspan>19:00</tspan></text></g><g class="highcharts-axis-labels highcharts-yaxis-labels "><text x="55" style="color:#666666;cursor:default;font-size:20px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="49" opacity="1"><tspan>0</tspan></text></g></svg><div class="highcharts-loading highcharts-loading-hidden" style="position: absolute; background-color: rgb(255, 255, 255); opacity: 0; text-align: center; z-index: 10; left: 70px; top: 10px; width: 1124px; height: 65px; display: none;"><span class="highcharts-loading-inner" style="font-weight: bold; position: relative; top: 45%;">Rapor oluşturuluyor, birazdan hazır olacak</span></div></div></div>
                        <!---->
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>