
@{
    ViewBag.Title = "RaporGoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-10 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><strong>OEE1</strong></h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Tarih aralığı</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="text" id="start-date" class="form-control" name="sdate" placeholder="Başlangıç tarihi">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="end-date" class="form-control" name="edate" placeholder="Bitiş tarihi">
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="#" class="btn btn-primary btn-block">Bugün</a>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="#" class="btn btn-primary btn-block">Güncelle</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Zaman aralığı</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <select class="form-select" id="basicSelect">
                                                        <option>00</option>
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                        <option>04</option>
                                                        <option>05</option>
                                                        <option>06</option>
                                                        <option>07</option>
                                                        <option>08</option>
                                                        <option>09</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-select" id="basicSelect">
                                                        <option>00</option>
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                        <option>04</option>
                                                        <option>05</option>
                                                        <option>06</option>
                                                        <option>07</option>
                                                        <option>08</option>
                                                        <option>09</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-select" id="basicSelect">
                                                        <option>00</option>
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                        <option>04</option>
                                                        <option>05</option>
                                                        <option>06</option>
                                                        <option>07</option>
                                                        <option>08</option>
                                                        <option>09</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-select" id="basicSelect">
                                                        <option>00</option>
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                        <option>04</option>
                                                        <option>05</option>
                                                        <option>06</option>
                                                        <option>07</option>
                                                        <option>08</option>
                                                        <option>09</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p style="text-align:center">Bu rapor, sensör konumunun programı ve seçilen tarih aralığındaki verilere dayanmaktadır.</p>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <img src="~/Frontend/assets/images/1.png" />
                        </div>
                        <div class="row">
                            <img src="~/Frontend/assets/images/2.png" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row mt-3 cards">
        <div class="col-xs-6 col-md-12 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>Ø OEE</strong>

                </div>
                <div class="clearfix text-xs-center display-5 ember-view card-block">
                    9,5 %

                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>
                        Toplam miktar (Tüm vardiyalardaki)
                    </strong>

                </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                    7073
                    <!---->
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>Dikkate alınmayan miktar (Tüm vardiyaların dışındaki)</strong>

                </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                    0
                    <!---->
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>Ø Kullanılabilirlik</strong>

                </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                    6,8 %

                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary card-accent-danger"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong class="text-danger">Ø Performans</strong>

                </div><div class="clearfix text-xs-center display-5 text-danger ember-view card-block">
                    <i aria-hidden="true" title="Performans % 100'den fazla olamaz. Lütfen sensör konum ayarlarını kontrol edin." class="ember-view fa fa-exclamation-triangle"><!----></i>
                    140,4 %

                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>Ø Kalite</strong>

                </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                    98,9 %

                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>Hatalar arası ortalama zaman (MTBF)</strong>

                </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                    11 dakika

                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>Ortalama tamir zamanı (MTTR)</strong>

                </div>
                <div class="clearfix text-xs-center display-5 ember-view card-block">
                    143 dakika

                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 col-xl-4 mb-1 card-cell" style="text-align:center;">
            <div class="ember-view card card-accent-primary"  style="border: 3px solid #e9e8e8;">
                <div class="ember-view card-header" style="border-top: 2px solid red; background-color:#f1f1f1">
                    <strong>Küçük duruşlar arası ortalama üretim zamanı (NTT)</strong>

                </div><div class="clearfix text-xs-center display-5 ember-view card-block">
                    Kapsam dışı

                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <i aria-hidden="true" class="ember-view fa fa-info-circle fa-fw"><!----></i>
            <p style="text-align:center"><strong>Bu rapordaki kullanılabilirlik 5 dakika duruş eşiği ile hesaplanmıştır.</strong></p>
        </div>
    </div>


    <div class="row" id="table-borderless">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <!-- table with no border -->
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>Tüm kullanılabilirlik kayıp sebepleri (> 5 dakika)</th>
                                    <th>Miktar</th>
                                    <th>Süre</th>
                                    <th>Toplamın %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kapsam dışı</td>
                                    <td>1</td>
                                    <td>0h 06min</td>
                                    <td>100,00%</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>Tüm performans kayıp sebepleri (< 85 % > 5 dakika)</th>
                                    <th>Miktar</th>
                                    <th>Süre</th>
                                    <th>Toplamın %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kapsam dışı</td>
                                    <td>2</td>
                                    <td>0h 19min</td>
                                    <td>100,00%</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>Tüm fire sebepleri</th>
                                    <th></th>
                                    <th>Miktar</th>
                                    <th>Toplamın %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kapsam dışı</td>
                                    <td></td>
                                    <td>5</td>
                                    <td>100,00%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning">Raporu Yazdır</button>
        </div>
    </div>




